*{
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

header{
    background-color: #ADD8E6;
    color: #333;
    font-family: serif;
}

label, input{
    margin: 20px;
    font-family: sans-serif;
}
input{
    width: 75%;
    text-align:left;
}
.right{
    width: 50%;
    float: right;
}
.left{
    width:50%;
    float: left;
}
#submit{
    width: 50px;
    height: 25px;
    color: #333;
    background-color: linear-gradient(#CBF6FF, #ADD8E6);
}

@media all and (min-width: 600px) and (max-width: 1470px){
    label, input{
        margin: 30px;
    }
}

@media all and (max-width: 599px){
    label{
        color: transparent;
        float: right;
        margin: 0px;
    }
    .right{
        width: 100%;
        float: left;
    }
    .left{
        width: 100%;
        float: left;
    }
}
